.btn-menu{
    margin:10px;
    width:25px;
    height:25px;
}
.nav > img{
    margin:5px;
}
.nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding-left:10px;
    background:var(--nav-background);
    color:var(--nav-color);
    height:50px;
}
.list-menu-nam{
    width: 30vw;
    margin: 0 auto;
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
}
marquee{
    font-size: 30px;
    margin:5px;
    color:rgb(255, 30, 0);
    font-family: var(--Times-New-Roman);
}
.overlay-view{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#000;
    opacity:0.4;
    display:none;
    animation:opacityoverlay linear 0.2s;
}
.nav_input:checked ~ .overlay-view{
    display:block;
}
@keyframes opacityoverlay {
    from{
        opacity:0;
    }
    to{
        opacity:0.4;
    }
}

.nav_input:checked ~ .list-menu-mobile{
    transform:translateX(0%);
    opacity:100%;
}
.list-menu-mobile{
    position:fixed;
    background-color: #fff;
    color:#000;
    top:0;
    left:0;
    z-index:10;
    width: 300px;
    opacity: 0%;
    transform:translateX(-100%);
    transition: transform linear 0.2s,opacity linear 0.2s;
}
svg{
    margin:1px;
    width:25px;
    height:25px;
    float:right;
}


#clockNam{
    font-size:25px;
    margin: 5px;
    font-weight:bold;
    color:var(--nav-color);
    position:fixed;
    top: 0;
    right:10px;
}
h1{
    font-family: var(--Cambria);
    font-weight: bold;
    margin-left: 10px;
}
@media only screen and (max-width:480px){
    h1{
        margin: 7px 0px 0px 5px;
    }
    marquee{
        display:none;
    }
}