.random-sys{
    font-family: var(--Cambria);
    font-weight: bold;
    display:block;
    margin:6px 0px 20px 10px;
}
.random-execute{
    padding: 5%;
    background-color:#ffffff;
    box-shadow: 2px 2px 2px 2px rgb(29, 29, 29);
}
.input-random{
    width:45%;
    margin-bottom: 10px;
    border: 1px solid #858585;
    border-radius: 2px; 
    padding: 5px 0px 5px 10px;
    animation-duration: 2s;
    animation-timing-function:linear;
}
.input-group-arrow{
    margin:0;
    padding:0px;
    align-content: 0 auto;
    width:10px;
    color:rgb(51, 51, 51);
    font-size: 20px;
    width:10%;
}
#btn-random-submit{
    margin:15px 0px 20px 50px;
    width:100px;
    box-shadow:3px 2px 3px 2px rgb(33, 32, 117);
}
.output{
    display:block;
    width:100%;
}
.output > *{
    margin: 0 auto;
}
.result-random-now{
    display: flex;
    background:var(--content-bgd-gradient);
    width:150px;
    height:150px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 2px 4px 10px 2px rgb(148, 133, 114);
}
.result-random-now > *{
    display:block;
    margin: 0 auto;
    color: rgb(255, 0, 0);
    font-family: "Candara";
    font-weight: bold;
    padding-top:55px;
}
.result-random-now:hover{
    background:radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(95, 95, 95) 100%);
}
.btn-clear-random-now{
    float: right;
    margin:15px 0px 20px 0px;
    width:70px;
    box-shadow:3px 2px 3px 2px rgb(100, 100, 100);
}
.result-random-list{
    padding: 15px;
    overflow: auto;
    height:400px;
}
.result-random-list > div > *{
    display: inline-block;
    width:30%;
    font-size:20px;
    margin-bottom:5px;
}
.result-list-block{
    position: relative;
    background-color:#ffffff;
    box-shadow: 2px 2px 2px 2px rgb(29, 29, 29);
}
.result-random-list > div > label{
    margin-left: 40px;
}
.clear-random-result{
    position: absolute;
    right:30px;
    top:10px;
    width:80px;
}
@keyframes erorrRandom {
    from{
        border:2px solid red;
    }
    to{
        border:1px solid#858585;
    }
}
@media only screen and (max-width:1200px){
    .result-list-block{
        margin-top: 20px;
    }
}
@media only screen and (max-width:480px){
    .random-execute{
        margin:5%;
        width: 90%;
    }    
    #btn-random-submit{
        margin:15px 0px 20px 0px;
    }
    .result-list-block{
        margin-top: 10px;
    }
    .input-random, #btn-random-submit{
        font-size: 25px;
    }
    .result-random-now>h2{
        font-size: 35px;
        padding-top:48px;
    }
}