:root{
  --nav-color: #000000;
  --nav-background: #ffffff;
  --content-bgd-gradient: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
  --Times-New-Roman:"Times New Roman", Times, serif;
  --Cambria: "Cambria";
  --background-body:rgb(228, 237, 241);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container2{
  margin-top: 70px;
}
body{
  background-color: var(--background-body);
}

footer{
  display: flex;
  justify-content:center;
  margin-top:50px;
  background:rgb(255, 255, 255);
  height:50px;
}
footer > *{
  color:#1540ff;
  margin:auto 0px;
}



/* a::after{
  content: attr(href);
} */