:root{
    --nav-background: #ffffff;
    --Times-New-Roman:"Times New Roman", Times, serif;
    --Cambria: "Cambria";
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containt{
  margin-top: 70px;
}
body{
  background-color: rgb(224, 255, 206);
}